* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #4941a2;
    font-size: 2.5rem;
}

header p {
    font-size: 1.2rem;
    color: #555;
}

.chat-section {
    height: 550px;
    margin-bottom: 20px;
}

.chat-box {
    height: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #fafafa;
    display: flex;
    flex-direction: column; /* Needed for absolute positioning inside */
}

#clear-history-btn {
    display: none;
    position: absolute;
    bottom: 70px;
    right: 315px;
    padding: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#clear-history-btn:hover {
    background-color: #d32f2f;
}

.chat-box:hover #clear-history-btn {
    display: block;
}


.messages {
    position: relative;
    height: 90%;
    padding: 10px;
    padding-right: 10px;
    border-bottom: 1px solid #ddd;
    overflow-y: auto; /* Allow vertical scrolling */
    overflow-x: hidden; /* Prevent horizontal scrolling */
    word-wrap: break-word; /* Allow long words to break and wrap onto the next line */
    white-space: normal; /* Ensure text wraps normally */
}

.message p {
    margin: 0;
    padding: 5px 10px;
    word-wrap: break-word; /* Break long words */
    white-space: normal; /* Ensure text wraps around */
    max-width: 100%; /* Prevents text from overflowing its container */
    overflow-wrap: break-word; /* Ensures proper word breaking */
}

#user-input {
    width: 89%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.pair {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #4941a2;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 40px;
}

.attach-button {
    position: absolute;
    right: 68px; /* Adjust this to fit the button placement */
    top: 16px;
    cursor: pointer;
    background: none;
    border: none;
}

button:hover {
    background-color: #362f82;
}

.events-section {
    margin-top: 20px;
}

.events-section h2 {
    color: #333;
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.event-list {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
    background-color: #fafafa;
}

.event-item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.event-item:last-child {
    border-bottom: none;
}
